.medicine-list {

  &__add-medicine {
    border-radius: 50% !important;
    position: fixed !important;
    right: 50px;
    bottom: 50px;
    width: 40px;
    height: 40px !important;
    padding: 0;
    line-height: 1;
  }
}
